body {
	background: linear-gradient(180deg, #FFDAC2, #ffdab1);
	
}

.abapp {
	padding-top: 5vh;
}

.appdesc {
	width: 80vw;
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.abdevs {
	margin-top: 5vh;
}

.devdesc {
	width: 80vw;
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
}
