.abapp {
	font-size: 250%;
	padding-top: 5vh;
}

.appdesc {
	width: 80vw;
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 175%;
}

.abdevs {
	font-size: 250%;
	margin-top: 5vh;
}

.devdesc {
	width: 80vw;
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
	font-size: 175%;
}