body {
	background: linear-gradient(180deg, #FFDAC2, #ffdab1);
}

.info {
	padding-top: 5vh;
}

.warning {
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.infodesc {
	width: 80vw;
	margin: 1vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.warning {
	color: #ff4f4f;
}
