@font-face {font-family: cocogoose; src: url('../fonts/Cocogoose_Pro_Semilight-trial.ttf');}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5vw;
	color:rgba(0, 20, 40);
	background: linear-gradient(180deg, #FFDAC2, #ffdab1);
}

#img {
	width: clamp(300px, 18vw, 800px)
}

#landing-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title {
	font-family: General Sans, sans-serif;
	font-size: clamp(4rem, 14vw, 11.5rem)
}

#title span {
	text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

#subtitle {
	font-family: General Sans, sans-serif;
	font-style: italic;
	overflow-wrap: break-word;
	font-size: clamp(1rem, 5vw, 1.5rem);	
	margin-bottom: 15px;
	margin-top: -15px;
	width: clamp(300px, 50vw, 800px);
}

#button-row {
	display: flex;
	gap: 10px;
}

.button {
	display: flex;
	width: fit-content;
	justify-content: center;
	font-size: 1.75rem;
	border-radius: 4px;	
	color: black;
	background-color: orange;
	margin-top: 10px;
	font-family: cocogoose, sans-serif;
	padding: 5px;
	border: solid black 3px;
	transition: all 0.2s ease;
	text-decoration: none;
}

.button:hover {
	color: orange;
	background-color: black;
}

#sub-button {
	background-color: rgb(175, 175, 255);
	text-shadow: none;
}

#sub-button:hover {
	border-radius: 8px;
	color: rgb(175, 175, 255);
	background: rgba(0, 20, 40);
}
