@font-face {font-family: cocogoose; src: url('../Cocogoose_Pro_Semilight-trial.ttf');}

.page {
	display: flex;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	background: "white";
	font-family: "cocogoose", sans-serif;
}

.bigtitle {
	margin-bottom: 20px;
}

.description {
	text-align: center;

	margin-right: 10vw;
	margin-left: 10vw;
	font-size: 1.75rem;
}



#button {
	font-size: 1.75rem;
	color: orange;
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	border: solid black 3px;
	transition: all 0.2s ease;
}
