@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

body {
  background: linear-gradient(180deg, #FFDAC2, #ffdab1);
}

#drop-image {
  border: dotted;
  aspect-ratio: 1/1;
  width: 50vw;
  min-width: 330px;
  max-width: 50vh;
  display: flex;
  margin-left: 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

#upload-button {
  background-color: white;
  border: solid 1px black;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}


#cancer-types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  flex-grow: 1;
  padding: 1vw;
  min-width: 330px;
}

#cancer-bars {
  font-size: 150%; /*delete if necessary*/
  font-family: 'Roboto', sans-serif; /*delete if necessary*/
  border-top: solid 2px #E2E8F0;
  width: 90%;
  max-height: 50vh;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #E2E8F0;
}

.cancer-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  margin-bottom: 5px;
}

.label-container {
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.text-scroll-animation {
  animation: 4s linear 0s infinite alternate move;
}

@keyframes move {
  0%, 66% {
    margin-left: 0;
  }

  33%, 100% {
    margin-left: -100%;
  }
}

.meters {
  flex-grow: 1;
  margin-left: 10px;
}

#uploaded-image {
  max-width: 100%;
  max-height: 100%;
}
